<p>
Dear School Nurse:<br><br>
@Model.word1 @Model.word2 will not be attending school today. He/she has come down with a case of @Model.word3 and has horrible @Model.word4 and a/an @Model.word5 fever. We have made an appointment with the @Model.word6 Dr. @Model.word7, who studied for many years in @Model.word8 and has @Model.word9 degrees in pediatrics. He will send you all the information you need. Thank you!
<br><br>
Sincerely,<br>
Mrs. @Model.word10 
</p>
<p><a href="/">Back to home</a></p>